html {
  background-color: rgb(33, 33, 33);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 {
  text-align: center;
}

ul {
  max-width: 605px;
  max-height: 605px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.square {
  float: left;
  border: .5px solid rgb(33, 33, 33);
  width: 200px;
  height: 200px;
  background-color: #4E4E50;
}

.square:hover {
  background-color: #950740;
  cursor: pointer;
  transition: .5s;
}

.square:active {
  background-color: #C3073F;
}
